.saved_address_container {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 12px;
}

.savedAddress {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem;
  border: 1px solid rgba(215, 216, 221, 1);
  border-radius: 1rem;

  .addressDetail {
    display: flex;
    gap: 1rem;
  }

  .addressHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    h4 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: rgba(130, 135, 149, 1);
    }

    span {
      border: 1px solid rgba(42, 156, 130, 1);
      color: rgba(42, 156, 130, 1);
      border-radius: 12px;
      padding: 4px 8px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      letter-spacing: 0;
      line-height: 100%;
      margin-bottom: 5px;
    }
  }

  .address {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(130, 135, 149, 1);
  }

  .editDeleteButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  button {
    border: 1px solid rgba(169, 42, 4, 1);
    border-radius: 0.8rem;
    padding: 0.6rem 1.5rem;
    background: transparent;
    color: rgba(169, 42, 4, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.addNewAddressBtn {
  margin: 1rem auto;
  border: 1px solid rgba(169, 42, 4, 1);
  border-radius: 0.9rem;
  padding: 0.6rem 1.5rem;
  background: transparent;
  color: rgba(169, 42, 4, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.savedAddress input[type="radio"] {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.savedAddress input[type="radio"]:checked {
  border: 6px solid rgba(169, 42, 4, 1);
}

.addressSaveCancelButtons {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    border: 1px solid rgba(169, 42, 4, 1);
    border-radius: 1.5rem;
    padding: 0.7rem 1.5rem;
    background: transparent;
    color: rgba(169, 42, 4, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

@media screen and (max-width: 768px) {
  .saved_address_container {
    padding: 0;
    box-shadow: none;
  }

  .savedAddress {
    flex-direction: column;
    border: none;
    border-bottom: 1px solid rgba(215, 216, 221, 1);
    border-radius: 0;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 1.5rem;

    button {
      padding: 0.5rem 1rem;
    }
  }

  .lastChild {
    border: none;
  }
}
