@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color: #f6f7f7;
  --link-border: #f6f7f7;
  --header-color: rgba(81, 244, 0, 0.133);
  --primary-btn: #ff5886;
  --input-border: #ffdce5;
  --table-background-color: #ffffff;
  --radio-btn-color: #ff5790;
  --accordion-border: #e7e7e7;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #ead8c0;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c48b9c;
  border-radius: 15px;
  /* border: 3px solid #0f172a; */
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Saira Condensed", "rubik", sans-serif !important;
  font-weight: 400;
  font-size: 1rem;
  background: white;
  color: black;
  margin: 0;

  a {
    color: unset;
    text-decoration: none;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  input {
    font-size: 1rem;
  }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

p {
  line-height: 1.4;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.375rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

h5 {
  font-size: 0.875rem;
  font-weight: 400;
}

h6 {
  font-size: 0.75rem;
  font-weight: 400;
}

hr {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: 0;
  border-top: 1px solid rgba(black, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  max-width: 100%;
  color: transparent;
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type='number'] {
  -moz-appearance: textfield;
} */

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-inline-start: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* styles/globals.scss */
.ql-editor iframe.ql-video {
  width: 100% !important;
  height: 400px !important;
  aspect-ratio: 16 / 9;
  max-width: 100%;
  display: block;
  margin: 1rem 0;
  border: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
